strict-ssl=false
cafile=C:/Users/EJDZB/Certificates/cert.pem
registry=https://registry.npmjs.org/
@bayer-int:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/
@monsantoit:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/
@supernova:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/
@faste-lite:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/
@element:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/
//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:_auth="bWFoZXNoLnByYXNhZC5leHRAYmF5ZXIuY29tOkFLQ3BCdE5IcFVYWGdjaDRWZG9icXdBUFdRdkdBdW1YR2ZEQm5Gbjk5RzN6dzZUY3NTRGoya1J6bWhMMXlycGoxWkI2VVF6VkQ="
always-auth=false
proxy=http://EJDZB:veeRoshsan%2A1915@svc-proxy.bayerbbs.net:8080/
https-proxy=http://EJDZB:veeRoshsan%2A1915@svc-proxy.bayerbbs.net:8080/
